/* Establece un estilo básico para todos los elementos */
* {
  box-sizing: border-box;
}

/* Estilos generales para el cuerpo de la página */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #111;
  color: #fff;
  text-align: center;
  line-height: 1.6;
  font-size: 24px;
}

/* Aumenta el tamaño del texto en dispositivos móviles */
@media only screen and (max-width: 600px) {
  body {
    font-size: 22px;
  }
  
  /* Cambia el color de los enlaces en la sección "social" en dispositivos móviles */
  .social a {
    color: #00A2FF;
  }
}

/* Estilos para la lista no ordenada (ul) */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Estilos para la barra de navegación (nav) */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ccc;
}

/* Estilos para el encabezado (header) */
header {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Estilos para la imagen de perfil */
#profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  transition: transform 0.3s;
}

#profile-pic:hover {
  transform: scale(1.1);
}

/* Estilos para el nombre de perfil */
#profile-name {
  font-size: 24px;
  font-weight: bold;
}

/* Estilos para los encabezados (h1) */
h1 {
  margin-top: 50px;
  font-size: 32px;
}

/* Estilos generales para el contenido principal */
main {
  padding: 50px;
}

/* Estilos generales para las secciones */
section {
  margin-bottom: 50px;
}

/* Estilos para las pestañas de navegación (tabs) */
.tabs {
  background-color: #f1f1f1;
  overflow: hidden;
}

.tab {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  background-color: inherit;
  font-size: 17px;
}

.tabcontent {
  display: none;
  padding: 50px;
  border-top: none;
}

.active {
  background-color: #ccc;
}

.active .tablink {
  color: white;
}

/* Estilos para la sección "Acerca de" */
.about {
  background-color: #f9f9f9;
  padding: 50px;
  color: #333;
}

/* Estilos para la sección "Social" */
.social {
  background-color: #00A2FF;
  padding: 50px;
  color: #fff;
}

/* Estilos para los enlaces en la sección "Social" */
.social a {
  font-size: 24px;
  color: #fff;
}

/* Estilos para la sección de "Contacto" */
#contacto p {
  font-size: 24px;
  margin-top: 30px;
}

/* Estilos para los enlaces de correo electrónico */
.email a {
  color: #AACCFF;
  font-size: 28px;
  border: 2px solid #AACCFF;
  color: #000;
}
