* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: black;
  color: #ccc;
  text-align: center;
  line-height: 1.6;
  font-size: 24px;
}

/* Aumenta el tamaño del texto en dispositivos móviles */
@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }

  .social a {
    color: #00A2FF;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ccc;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  transition: transform 0.3s;
}

#profile-pic:hover {
  transform: scale(1.1);
}

#profile-name {
  font-size: 24px;
  font-weight: bold;
}

h1 {
  margin-top: 50px;
  font-size: 32px;
}

main {
  padding: 50px;
}

section {
  margin-bottom: 50px;
}

.tabs {
  background-color: #f1f1f1;
  overflow: hidden;
}

.tab {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  background-color: inherit;
  font-size: 17px;
}

.tabcontent {
  display: none;
  padding: 50px;
  border-top: none;
}

.active {
  background-color: #ccc;
}

.active .tablink {
  color: white;
}

.about {
  background-color: #f9f9f9;
  padding: 50px;
  color: #333;
}

.social {
  background-color: #f9f9f9;
  padding: 50px;
  color: #AACCFF; /* Los enlaces a las redes sociales ahora son de color azul claro */
}

.social a {
  font-size: 22px; /* El texto en la sección de redes sociales ahora es más grande */
  color: #AACCFF; /* Los enlaces a las redes sociales ahora son de color azul claro al pasar el ratón por encima */
}

#contacto p {
  font-size: 22px;
  margin-top: 30px;
}

.email a {
  color: #AACCFF; /* El correo electrónico ahora es de color azul claro */
  font-size: 22px; /* El tamaño de la fuente del correo electrónico ahora es de 18px */
  border: 2px solid #AACCFF; /* Se agregó un borde de 2px al texto del correo electrónico */
  color: #000; /* Se aumentó el contraste del texto del correo electrónico al 150% */
}
